{% extends 'backoffice/components/wrapper.html.twig' %}

{% block title %}Категории{% endblock %}

{% block content %}
    Категории

    <a href="{{ path('app_backoffice_categories_create') }}">Создать категорию</a>
    {% include 'backoffice/components/table.html.twig' with {'items': categories} only %}
{% endblock %}
