<table>
    <thead>
        <tr>
            {% for th in items.header %}
            <th>{{ th.title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in items.items %}
        <tr>
            {% for td in row %}
            <td>{{ td }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>

    {% include 'backoffice/components/pagination.html.twig' with {'prevPage': items.prevPage, 'page': items.page, 'nextPage': items.nextPage, 'limit': items.limit} only %}
</table>
